{% extends "tease.twig" %}

{% block content %}
	{% if post.get_thumbnail and post.thumbnail.src  %}
		<figure>
			<img src="{{post.thumbnail.src}}" class='tease-post-thumbnail'/>
		</figure>
	{% endif %}
	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
	<p>{{post.get_preview(20, true,'dalej')}}</p>
	<time class="tease-time">{{ post.date }} </time>
{% endblock %}
